.section1 {
	padding: 0px 8%;
}

.section2 {
	padding: 0px 15%;
}


.first::first-letter {
	font-weight: bold;
	font-size: 80px;
}
.room {
	width: 80%;
}



.woman{
	width: 80%;
}


.section3 {
	padding: 0px 8%;
}



.section4 {
	padding: 0px 8%;
}

