.section1 {
	padding: 0px 8%;
}

.section2 {
	padding: 0px 15%;
}


.first::first-letter {
	font-weight: bold;
	font-size: 80px;
}
.room {
	width: 60%;
	
}

.roombg {
	position: absolute;
	bottom:-20%;
	left: -20%;
	z-index: -2;
}

.main-room {
	position: relative;
}
.woman{
	width: 80%;
	position: relative;
}



.section3 {
	padding: 0px 8%;
}



.section4 {
	padding: 0px 8%;
}


@media (max-width:600px) {
	.room, .woman {
		width:100%;
	}
}